/.gitattributes text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.sh text eol=lf
*.bat text eol=lf
*.txt text eol=lf
*.ini text eol=lf
*.service text eol=lf
*.timer text eol=lf
*.example text eol=lf
